@page
@model MyRshop.Pages.Admin.managefile.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FileModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileModel.TimeSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileModel.TimeSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileModel.userId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileModel.userId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileModel.CateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FileModel.CateId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FileModel.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
